<launch>

  <master auto="start"/>
  <!-- Run the map server --> 
  <node name="map_server" pkg="map_server" type="map_server" args="$(find ee144f20)/map/wch109.pgm 0.05"/>

  <!-- Run AMCL --> 
  <include file="$(find amcl)/examples/amcl_diff.launch" />
  <!-- include file="$(find amcl)/examples/amcl_omni.launch" /-->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find ee144f20)/config/costmap_common_params.yaml" command="load" ns="global_costmap" /> 
    <rosparam file="$(find ee144f20)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find ee144f20)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find ee144f20)/config/global_costmap_params.yaml" command="load" /> 
    <rosparam file="$(find ee144f20)/config/base_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="cmd_vel_mux/input/teleop" />
  </node>

</launch> 
